/* 기본적인 스타일 */
.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    flex-shrink: 0;
}
/* 버튼 스타일 */
button, input[type="button"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
	font-size: 14px;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
}

.insertSalsePostForm {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.insertSalsePostForm h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* 테이블 스타일 */
.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table td {
    padding: 10px 15px;
    vertical-align: middle;
    color: #ffffff;
}

.form-table label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-table input[type="text"],
.form-table input[type="number"],
.form-table input[type="date"],
.form-table select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
}

.form-table textarea {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

/* CKEditor 5 에디터 높이 조정 */
.ck-editor__editable {
    min-height: 300px; /* 원하는 높이로 조정 */
    background-color: #ffffff; /* 배경색 흰색 */
    color: #000000; /* 글자색 검정색 */
}

/* 버튼 스타일 */
button.salesAddBtn {
	width: 15%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}
.submitTd {
	text-align: center;
}
button.primary:hover {
    background-color: #0056b3;
}
/* 라디오 버튼 가로 정렬 */
#radio-group {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

#radio-group label {
    margin-right: 15px;
}

body.light-mode button.primary, body.light-mode input[type="button"].primary
	{
	background-color: #007bff;
	color: white;
}

body.light-mode button.primary:hover, body.light-mode input[type="button"].primary:hover
	{
	background-color: #0056b3;
}
body.dark-mode button.primary, body.dark-mode input[type="button"].primary
	{
	background-color: #375a7f;
	color: white;
}

body.dark-mode button.primary:hover, body.dark-mode input[type="button"].primary:hover
	{
	background-color: #2a3e5c;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .insertSalsePostForm {
        width: 90%;
        padding: 10px;
    }

    .form-table td {
        display: block;
        width: 100%;
    }

    .form-table td:first-child {
        margin-top: 10px;
    }
}
