/* 기본 스타일 */
body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
    color: #212529;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background: #212529;
    color: #f8f9fa;
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #343a40;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar.dark-mode {
    background: #1c1e21;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    text-align: left;
    position: relative;
}

.sidebar ul li > a {
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar ul li > a:hover, 
.sidebar ul li.active > a {
    background: #007bff;
    color: #ffffff;
}

.sidebar ul li > a .dropdown-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.sidebar ul li > a .arrow-icon {
    margin-left: auto;
    transition: transform 0.3s;
}

.sidebar ul li > a .arrow-icon.rotate {
    transform: rotate(90deg);
}

.sidebar .dropdown-menu {
    display: none;
    background-color: #343a40;
    list-style: none;
    padding: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    max-height: 0;
}

.sidebar .dropdown-menu.visible {
    display: block;
    max-height: 500px;
}

.sidebar .dropdown-menu li {
    padding-left: 30px;
}

.sidebar .dropdown-menu li a {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.sidebar .dropdown-menu li a:hover {
    background: #007bff;
}

.main-content {
    flex-grow: 1;
    background: #f8f9fa;
    padding: 20px;
    color: #212529;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
}

.main-content.dark-mode {
    background: #212529;
    color: #f8f9fa;
}

button#toggleMode {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#toggleMode:hover {
    background-color: #0056b3;
}

.logout-btn {
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #343a40;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #007bff;
    color: #ffffff;
}

.sidebar .dropdown-icon {
    width: 20px;
    height: 20px;
    fill: #ffffff; /* 아이콘 색상 */
    transition: transform 0.3s;
}
