<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.domain.product.mapper.BestMapper">

  <select id="selectBestSellingProducts" resultType="com.food.domain.product.dto.BestDTO">
    SELECT 
        OD.ORDER_ID,
        OD.SALES_POST_ID,
        OD.UNIT_PRICE,
        OD.DISCOUNT_PRICE,
        OD.QUANTITY AS ORDER_QUANTITY,
        SP.TITLE AS SALES_POST_TITLE,
        SP.DESCRIPTION AS SALES_POST_DESCRIPTION,
        SP.ID AS SALES_POST_ID,
        SPF.FILE_PATH,
        SPF.FILE_TYPE
    FROM 
        ORDER_STATUS_TB OS
    JOIN 
        ORDER_DETAIL_TB OD ON OS.ORDER_ID = OD.ORDER_ID
    JOIN 
        SALES_POST_TB SP ON OD.SALES_POST_ID = SP.ID
    JOIN 
        SALES_POST_FILE_TB SPF ON SP.ID = SPF.SALES_POST_ID
    WHERE 
        OS.ORDER_STATUS = '배송완료'
    ORDER BY 
        OD.QUANTITY DESC
  </select>

</mapper>
