<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.domain.product.mapper.BestMapper">

  <select id="selectBestSellingProducts" resultType="com.food.domain.product.dto.BestDTO">
    SELECT 
        OD.SALES_POST_ID,
        SP.TITLE AS SALES_POST_TITLE,
        SP.DESCRIPTION AS SALES_POST_DESCRIPTION,
        PF.FILE_PATH,
        P.PRICE AS UNIT_PRICE, -- 단일 제품 가격
        SUM(OD.QUANTITY) AS ORDER_QUANTITY
    FROM 
        ORDER_DETAIL_TB OD
    JOIN 
        SALES_POST_TB SP ON OD.SALES_POST_ID = SP.ID
    JOIN 
        SALES_POST_FILE_TB PF ON SP.ID = PF.SALES_POST_ID
    JOIN 
        PRODUCT_TB P ON SP.PRODUCT_NUMBER = P.PRODUCT_NUMBER
    GROUP BY 
        OD.SALES_POST_ID, SP.TITLE, SP.DESCRIPTION, PF.FILE_PATH, P.PRICE
    ORDER BY 
        ORDER_QUANTITY DESC
  </select>

</mapper>
