<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.domain.order.mapper.CartMapper">
    
    <select id="findByCustomerIdAndProductId" resultType="com.food.domain.order.dto.CartDTO">
        SELECT * FROM CART_TB WHERE CUSTOMER_ID = #{customerId} AND PRODUCT_ID = #{productId}
    </select>
    
    <insert id="insertCart">
        INSERT INTO CART_TB (CUSTOMER_ID, PRODUCT_ID, QUANTITY, LAST_DATE)
        VALUES (#{customerId}, #{productId}, #{quantity}, #{lastDate})
    </insert>
    
    <update id="updateCart">
        UPDATE CART_TB
        SET QUANTITY = #{quantity}, LAST_DATE = #{lastDate}
        WHERE CUSTOMER_ID = #{customerId} AND PRODUCT_ID = #{productId}
    </update>
    
    <select id="getCartListByCustomerId">
    	SELECT 
			    c.CUSTOMER_ID AS id,
			    SUM(c.QUANTITY) AS quantity,
			    p.PRODUCT_NUMBER AS productNumber,
			    p.NAME AS name,
			    p.DESCRIPTION AS description,
			    p.PRICE,
			    pf.ORIGINAL_NAME AS originalName,
			    pf.FILE_PATH AS filePath,
			    pf.FILE_TYPE AS fileType,
			    d.NAME AS discountName,
			    d.TYPE AS discountType,
			    d.DISCOUNT_VALUE AS discountValue,
			    d.MAX_DISCOUNT AS maxDiscount
			FROM 
			    CART_TB c
			    JOIN PRODUCT_TB p ON c.PRODUCT_ID = p.PRODUCT_NUMBER
			    LEFT JOIN (
			        SELECT 
			            pf1.PRODUCT_NUMBER,
			            pf1.ORIGINAL_NAME,
			            pf1.FILE_PATH,
			            pf1.FILE_TYPE
			        FROM PRODUCT_FILE_TB pf1
			        INNER JOIN (
			            SELECT 
			                PRODUCT_NUMBER,
			                MIN(UPLOAD_DATE) AS earliest_date
			            FROM PRODUCT_FILE_TB
			            GROUP BY PRODUCT_NUMBER
			        ) pf2 ON pf1.PRODUCT_NUMBER = pf2.PRODUCT_NUMBER AND pf1.UPLOAD_DATE = pf2.earliest_date
			    ) pf ON p.PRODUCT_NUMBER = pf.PRODUCT_NUMBER
			    LEFT JOIN DISCOUNT_TARGET_TB dt ON p.PRODUCT_NUMBER = dt.TARGET_ID AND dt.TARGET_TYPE = 'product'
			    LEFT JOIN DISCOUNT_TB d ON dt.DISCOUNT_ID = d.ID
			WHERE 
			    c.CUSTOMER_ID = 1
			GROUP BY 
			    c.CUSTOMER_ID,
			    p.PRODUCT_NUMBER,
			    p.NAME,
			    p.DESCRIPTION,
			    p.PRICE,
			    pf.ORIGINAL_NAME,
			    pf.FILE_PATH,
			    pf.FILE_TYPE,
			    d.NAME,
			    d.TYPE,
			    d.DISCOUNT_VALUE,
			    d.MAX_DISCOUNT


    </select>
</mapper>
