<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.domain.product.mapper.CategoryMapper">

    <select id="selectCategoriesByProductNumber" resultType="com.food.domain.product.dto.ProductCategoryDTO">
        SELECT C.ID, C.NAME, C.CATEGORY_CODE
        FROM PRODUCT_CATEGORY_TB C
        INNER JOIN PRODUCT_CATEGORY_MAPPING_TB M
        ON C.ID = M.CATEGORY_ID
        WHERE M.PRODUCT_NUMBER = #{productNumber}
    </select>

    <select id="selectAllCategories" resultType="com.food.domain.product.dto.ProductCategoryDTO">
        SELECT ID, NAME, CATEGORY_CODE
        FROM PRODUCT_CATEGORY_TB
    </select>

    <select id="selectCategoryMappingByProductNumber" resultType="com.food.domain.product.dto.ProductCategoryMappingDTO">
        SELECT ID, PRODUCT_NUMBER, CATEGORY_ID
        FROM PRODUCT_CATEGORY_MAPPING_TB
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>
</mapper>
