<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.food.domain.user.mapper.CustomerReservesMapper">
    <select id="findTotalReservesByCustomerId" resultType="com.food.domain.user.dto.CustomerReservesDTO">
        SELECT 
            ID,
            CUSTOMER_ID,
            RESERVES,
            ORDER_ID,
            CREDIT_DATE,
            PLUSMINUS
        FROM CUSTOMER_RESERVES_TB 
        WHERE CUSTOMER_ID = #{customerId}
    </select>
</mapper>

