<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.domain.sales.mapper.DiscountMapper">
   <select id="findDiscountByIdQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE ID = #{id}
   </select>

   <select id="findCategoryTargetDiscountQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE CATEGORY_ID = #{categoryId}
   </select>

   <select id="findProductTargetDiscountQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE PRODUCT_ID = #{productId}
   </select>
   
<select id="findDiscountProductsQuery" resultType="com.food.domain.sales.dto.Discount2DTO">
    SELECT D.*, 
	       P.NAME AS PRODUCT_NAME, 
	       P.DESCRIPTION AS PRODUCT_DESCRIPTION, 
	       P.PRICE AS ORIGINAL_PRICE, 
	       ((P.PRICE * (100 - D.DISCOUNT_VALUE)) / 100) AS DISCOUNTED_PRICE,
	       PF.FILE_PATH AS productFilePath
	FROM DISCOUNT_TB D 
	JOIN DISCOUNT_TARGET_TB DT ON D.ID = DT.DISCOUNT_ID 
	JOIN PRODUCT_TB P ON DT.TARGET_ID = P.PRODUCT_NUMBER 
	JOIN PRODUCT_FILE_TB PF ON P.PRODUCT_NUMBER = PF.PRODUCT_NUMBER
	WHERE DT.TARGET_TYPE = 'PRODUCT' 
	  AND SYSDATE BETWEEN D.START_DATE AND D.END_DATE
</select>

	<select id="getCategroyTargetDiscount">
		SELECT ID, DISCOUNT_ID, TARGET_TYPE, TARGET_ID
		FROM DISCOUNT_TARGET_TB
		WHERE TARGET_TYPE = 'CATEGORY' AND TARGET_ID = #{i}
	</select>
	
	<select id="getProductTargetDiscount">
		SELECT ID, DISCOUNT_ID, TARGET_TYPE, TARGET_ID
		FROM DISCOUNT_TARGET_TB
		WHERE TARGET_TYPE = 'PRODUCT' AND TARGET_ID = #{productNumber}
	</select>
	
	<select id="getDiscount">
		SELECT ID, ONSALE_YN, NAME, TYPE, START_DATE, END_DATE, DISCOUNT_TYPE, DISCOUNT_VALUE, MAX_DISCOUNT, DESCRIPTION, MIN_PRICE
		FROM DISCOUNT_TB
		WHERE ID = #{discountId}
	</select>
</mapper>
