<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.domain.sales.mapper.DiscountMapper">
   <select id="findDiscountByIdQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE ID = #{id}
   </select>

   <select id="findCategoryTargetDiscountQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE CATEGORY_ID = #{categoryId}
   </select>

   <select id="findProductTargetDiscountQuery" parameterType="long" resultType="com.food.domain.sales.dto.Discount2DTO">
       SELECT * FROM DISCOUNT_TB WHERE PRODUCT_ID = #{productId}
   </select>
   
<select id="findDiscountProductsQuery" resultType="com.food.domain.sales.dto.Discount2DTO">
    SELECT D.*, 
           P.NAME AS PRODUCT_NAME, 
           P.DESCRIPTION AS PRODUCT_DESCRIPTION, 
           P.PRICE AS ORIGINAL_PRICE, 
           ((P.PRICE * (100 - D.DISCOUNT_VALUE)) / 100) AS DISCOUNTED_PRICE 
    FROM DISCOUNT_TB D 
    JOIN DISCOUNT_TARGET_TB DT ON D.ID = DT.DISCOUNT_ID 
    JOIN PRODUCT_TB P ON DT.TARGET_ID = P.PRODUCT_NUMBER 
    WHERE DT.TARGET_TYPE = 'PRODUCT' 
      AND SYSDATE BETWEEN D.START_DATE AND D.END_DATE
      AND D.TYPE = '쿠폰'
</select>

</mapper>
