<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.domain.product.mapper.WishListMapper">
	<insert id="insertWish">
		INSERT INTO SALES_POST_LIKES_TB (SALES_POST_ID, CUSTOMER_ID)
		VALUES (#{salesPostId}, #{customerId})
	</insert>
	
	<delete id="deleteWish">
		DELETE FROM SALES_POST_LIKES_TB
		WHERE SALES_POST_ID = #{salesPostId} AND CUSTOMER_ID = #{customerId}
	</delete>
</mapper>